#tool {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 240px 720px;
  height: 480px;
}

#list,
#canvas {
  border: 4px solid #6514ff;
  border-radius: 6px;
  overflow: hidden;
}

#canvas {
  position: relative;
}

#stage-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  cursor: crosshair;
}
